html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.close-search-page {
  display: block;
  width: 60px;
  height: 50px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
}